# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Ambiente local
local.properties
.cxx/

# Android Studio / IntelliJ
.idea/
*.iml
captures/

# Saídas de build
*.apk
*.aab
*.ap_
*.dex
*.class

# Sistema operacional
.DS_Store
Thumbs.db
