<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Indício funciona inteiramente offline: nenhuma permissão é declarada.
        Qualquer permissão nova precisa de discussão prévia em issue.
    -->

    <application
        android:name=".IndicioApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/regras_extracao_dados"
        android:fullBackupContent="@xml/regras_backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_nome"
        android:supportsRtl="true"
        android:theme="@style/Theme.Indicio">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Indicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
